# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.git
# Sphinx documentation
docs/_build/
docs/_static/
docs/templates/

.ipynb_checkpoints
.pytest_cache
.vscode
swatmf.egg-info
build
dist
.trash/
swatmf_git.code-workspace